{% assign members = collections.boardMemberItem %}

{% for member in members %}
  <div class="font-serif flex flex-col items-center text-center px-4 pb-4 mx-auto desktop:pb-0 desktop:mt-4">
    <div class="h-[7.4375rem] w-[5.9375rem] tablet:h-[14.625rem] tablet:w-[13.125rem] desktop:h-[20.25rem] desktop:w-[18.75rem]">
      <img
        src="{{ member.data.memberImage }}"
        alt="{{ member.data.memberImageAlt }}"
        class="object-cover h-full w-full pb-6 desktop:pb-4" />
    </div>
    <div class="text-blue text-base font-bold">{{ member.data.memberName }}</div>
    <div class="text-grayLight text-[0.8rem]">{{ member.data.memberOrganization }}</div>
    <div class="text-blue text-[0.8rem]">{{ member.data.memberRole }}</div>
  </div>
{% endfor %}
