{% assign members = collections.boardMemberItem %}

{% for member in members %}
  <div class="member-font flex flex-col items-center text-center px-4 pb-4 mx-auto desktop:pb-0 desktop:mt-4">
    <img
      src="{{ member.data.memberImage }}"
      alt="{{ member.data.memberImageAlt }}"
      class="w-full h-auto pb-6 desktop:pb-4 xl:w-[18.75rem] xl:h-[19.75rem]" />
    <div class="text-blue text-base font-bold">{{ member.data.memberName }}</div>
    <div class="text-grayLight text-[0.8rem]">{{ member.data.memberOrganization }}</div>
    <div class="text-blue text-[0.8rem]">{{ member.data.memberRole }}</div>
  </div>
{% endfor %}
