{% assign members = collections.boardMemberItem %}

{% for member in members %}
  <div class="flex flex-col p-4 tablet:p-8 desktop:p-10 items-center text-center">
    <img src="{{ member.data.memberImage }}" alt="{{ member.data.memberAlt }}" class="w-full h-auto" />
    <h6 class="text-blue text-xl mt-2">{{ member.data.memberName }}</h6>
    <h5 class="text-grayLight text-md">{{ member.data.memberOrganization }}</h5>
    <h4 class="text-blue">{{ member.data.memberRole }}</h4>
  </div>
{% endfor %}
