<div class="bg-white py-4 sm:py-6">
  <div class="mx-auto w-3/4 px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-10 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {% for post in postslist %}
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="{{ post.url | url }}">
              <span class="absolute inset-0"></span>
              {{ post.data.title }}
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ post.data.description }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>