---
layout: layouts/base.liquid
---
<section>

  <div class="bg-parallax">
    <div>
      <img src="/assets/img/bg-triangle-gray.png" />
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <h1 class="text-blue">{{ homeHeroRight.heroTitle }}</h1>
        <h3 class="text-gray">{{ homeHeroRight.heroSubTitle }}</h3>
        {{ homeHeroRight.heroContent | markdownify }}
      </div>
    </div>
  </div>

  <div class="bg-blue">
    <div class="">
      <div class="">
        <div class="">
          {{ bannerText | markdownify }}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-parallax-photo">
    <div>
      <img src="/assets/img/bg-triangle-pink.png" class="" />
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <h3 class="text-red">{{ homeHeroLeft.heroTitle }}</h3>
          {{ homeHeroLeft.heroContent | markdownify }}
      </div>
    </div>
  </div>

  <div class="bg-gray">
    <div class="container py-5">
      <h1 class="text-blue pt-4">{{ homeSectionHeader.sectionHeaderTitle }}</h1>
      <p class="text-white">{{ homeSectionHeader.sectionHeaderSubText }}</p>
      <h3 class="text-gray mt-5">{{ homeSectionHeader.sectionHeaderSubTitle }}</h3>

      <div class="row">
        <div class="col-md-4">
          <h6 class="text-blue mt-5 mb-1">Community over credit</h6>
          <p>Each win moves us all closer to digital transformation</p>

          <h6 class="text-blue mt-5 mb-1">Purpose over profit</h6>
          <p>We’re mission-driven, not money-driven</p>
        </div>
        <div class="col-md-4">
          <h6 class="text-blue mt-5 mb-1">Users over stakeholders</h6>
          <p>If we don’t meet user needs, business goals will never truly be met
          </p>

          <h6 class="text-blue mt-5 mb-1">Innovation over risk management</h6>
          <p>Change comes from taking chances</p>
        </div>
        <div class="col-md-4">
          <h6 class="text-blue mt-5 mb-1">Outcomes over activities</h6>
          <p>Success is what you accomplish, not how much you did to get there</p>

          <h6 class="text-blue mt-5 mb-1">Delivery over deliberation</h6>
          <p>Perfection only exists once users tell you it’s perfect</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-parallax">
    <div>
      <img src="/assets/img/bg-rectangle-blue.png" />
    </div>
  </div>

</section>
