---
layout: layouts/base.liquid
---

<section>
  <div class="bg-parallax">
    <div class="parallax-outside h-[80%] tablet:h-[75vh] overflow-visible desktop:overflow-clip">
      <div class="is-parallax parallax-inside">
        <img src="/assets/img/bg-triangle-gray.png" alt="">
      </div>
    </div>
  </div>
  <div class="container bg-illustration w-full py-12 tablet:px-4 mx-auto 2xl:max-w-[75rem]" style="background-image: url('/assets/img/illustration-gov.png');">
    <div class="flex flex-wrap justify-end 2xl:ml-96">
      <div class="tablet:max-w-[50%] 2xl:max-w-[75%] py-12 px-4">
        <h1 class="text-blue mb-12 tablet:mt-12 leading-tight">{{ homeHeroRight.heroTitle }}</h1>
        <h3 class="text-grayLight mb-6 leading-tight">{{ homeHeroRight.heroSubTitle }}</h3>
        {{ homeHeroRight.heroContent | markdownify }}
      </div>
    </div>
  </div>

  <div class="flex items-center text-center justify-center bg-blue text-white leading-tight h-[19.5rem] tablet:h-[17.5625rem]">
    <div class="w-[73.5rem] grow-0 px-4 tablet:px-28 desktop:px-48 desktop:py-10">
      {{ bannerText | markdownify }}
    </div>
  </div>
  <div class="relative w-full min-h-[21rem] tablet:min-h-0 tablet:h-[70%] overflow-visible">
    <div class="absolute h-full tablet:ml-auto desktop:top-[-10rem] tablet:h-auto right-0 z-[-1]">
      <img
        src="/assets/img/bg-triangle-pink.png"
        alt=""
        class="h-full w-full">
    </div>
  </div>

  <div class="flex tablet:justify-center p-4 pt-10 desktop:py-16">
    <div class="tablet:container tablet:mx-[4rem] destop:mx-0 desktop:px-6">
      <div class="flex items-center py-10 desktop:py-16">
        <div class="mb-4 tablet:mb-0 tablet:max-w-[50%]">
          <div class="relative z-[1] desktop:mb-14 tablet:w-[20rem] tablet:w-auto tablet:mx-0">
            <h3 class="text-red text-[1.466rem] leading-tight mb-5 ">{{ homeHeroLeft.heroTitle }}</h3>
            <div class="text-gray mb-2">
              {{ homeHeroLeft.heroContent | markdownify }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex tablet:justify-center bg-grayLightest opacity-90 p-4 pt-10 desktop:py-16">
    <div class="tablet:container tablet:mx-[4rem] destop:mx-0 desktop:px-6">
      <div class="flex flex-col tablet:mx-2 desktop:w-[45.625rem]">
        <h1 class="text-blue leading-tight mb-8 tablet:pt-10 desktop:pt-0">{{ homeSectionHeader.sectionHeaderTitle }}</h1>
        <p class="text-gray">{{ homeSectionHeader.sectionHeaderSubText }}</p>
        <h3 class="text-grayLight my-10">{{ homeSectionHeader.sectionHeaderSubTitle }}</h3>
      </div>
      <div class="grid tablet:grid-cols-3 gap-5 mt-4">
        <div class="tablet:mx-2">
          <h6 class="text-blue text-base mb-1">Community over credit</h6>
          <p class="mb-10">Each win moves us all closer to digital transformation</p>

          <h6 class="text-blue text-base mb-1">Purpose over profit</h6>
          <p class="mb-10">We’re mission-driven, not money-driven</p>
        </div>
        <div class="tablet:mx-2">
          <h6 class="text-blue text-base mb-1">Users over stakeholders</h6>
          <p class="mb-10">If we don’t meet user needs, business goals will never truly be met</p>

          <h6 class="text-blue text-base mb-1">Innovation over risk management</h6>
          <p class="mb-10">Change comes from taking chances</p>
        </div>
        <div class="tablet:mx-2">
          <h6 class="text-blue text-base mb-1">Outcomes over activities</h6>
          <p class="mb-10">Success is what you accomplish, not how much you did to get there</p>

          <h6 class="text-blue text-base mb-1">Delivery over deliberation</h6>
          <p class="mb-4">Perfection only exists once users tell you it’s perfect</p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center w-full h-[15.625rem] pb-16 tablet:pb-0 desktop:pb-0">
    <img
      src="/assets/img/bg-rectangle-blue.png"
      alt=""
      class=" w-full h-full object-cover object-center">
  </div>
</section>
