---
layout: layouts/base.liquid
---

<section>
  <div class="w-3/4 ml-auto tablet:ml-auto tablet:h-1/2 desktop:h-[57%] 2xl:h-[60%] desktop:ml-0 desktop:absolute tablet:w-[45%] desktop:w-full">
    <img src="/assets/img/bg-triangle-blue.png" alt="" class="desktop:h-full w-auto tablet:float-right">
  </div>
  <div class="flex ml-16 2xl:justify-center desktop:mb-10">
    <div class="container pr-2 mb-10 mx-auto desktop:mt-0 desktop:mt-24">
      <h1 class="text-magenta text-[2.75rem] leading-tight px-2 my-6 pb-4 tablet:max-w-sm desktop:max-w-md 2xl:max-w-lg">{{ missionHero.heroTitle }}</h1>
      <div class="flex flex-col justify-start">
        <div class="px-2 tablet:px-0 tablet:w-[640px] desktop:w-[47.5rem]">
          {{ missionHero.heroContent | markdownify }}
        </div>
      </div>
      <a href="{{ missionHero.linkFile }}" download>
        <div class="my-5 date-link bg-grayLightest">
          <div
            class="date-box"
            aria-label="March 12"
            role="text">
            <div class="date-box-inner">
              <span class="date" aria-hidden="true">{{ missionHero.dateText }}</span>
            </div>
          </div>
          <div class="link-box">
            <span class="link">{{ missionHero.linkText }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="relative w-full overflow-visible">
    <div class="absolute desktop:top-[-22rem] right-0 z-[-1]">
      <img src="/assets/img/bg-triangle-lightblue.png" alt="" />
    </div>

    <div class="flex tablet:justify-center bg-grayLightest opacity-90 px-4 pt-[0.9375rem] pb-8 desktop:py-8">
      <div class="tablet:container tablet:mx-10 desktop:px-4 desktop:py-5">
        <div class="flex flex-col tablet:mx-2 desktop:w-[45.625rem]">
          <h3 class="text-grayLight leading-tight pt-12 desktop:text-start">As thought leaders, advisors, and trusted partners in government digital services, we're driven by</h3>
        </div>
        <div class="grid tablet:grid-cols-3 gap-5 mt-10">
          <div class="tablet:mx-2">
            <h6 class="text-blue text-base mb-1">Community</h6>
            <p class="mb-4">Establish a collaborative community of innovative vendors to influence digital services in the government</p>

            <h6 class="text-blue text-base mt-8 mb-1">Education</h6>
            <p>Educate the civic tech ecosystem, including government agencies, other vendors, and users, on best practices in digital services</p>
          </div>
          <div class="tablet:mx-2">
            <h6 class="text-blue text-base mt-8 mb-1">Advocacy</h6>
            <p class="mb-4">Promote policies that remove barriers to innovation in government while increasing adoption of best practices, methodologies, and processes, such as human-centered design and agile delivery</p>

            <h6 class="text-blue text-base mt-8 mb-1">Partnership</h6>
            <p>Cultivate enduring relationships within our community of vendors and government partners to maintain long-term success in digital service delivery</p>
          </div>
          <div class="tablet:mx-2">
            <h6 class="text-blue text-base mt-8 mb-1">Impact</h6>
            <p>Make a meaningful difference in the daily lives of users through improved interactions with government, prioritizing equitable delivery to those who have traditionally been underserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>